<!-- Pas du tout bien fait  -->


<?xml version="1.0"?>
<robot name="tank">
    
    <!-- <material name="green">
        <color rgba="0 0.5 0 1"/>
    </material>
    <material name="black">
        <color rgba="1 1 1 1"/>
    </material> -->

    <link name="base_link">
        <visual>
            <geometry>
               <box size="1 0.8 0.4" />
            </geometry>
            <origin xyz="0 0 0.2" rpy="0 0 0"/>
            <!-- <material name="green"/> -->
        </visual>
    </link>

    <joint name="base_wheel1_joint" type="fixed">
        <parent link="base_link"/>
        <child link="wheel1_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="wheel1_link">
        <visual>
            <geometry>
               <cylinder radius="0.01" length="0.01"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <!-- <material name="black"/> -->
        </visual>
    </link>

</robot>